* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 2000px;
  background: #282c34;
}

.container {
  min-height: 80vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  min-height: 75vh;
  width: 40rem;
  padding: 1.5rem 5rem;
  z-index: 5;
  background: linear-gradient(
    to left bottom,
    rgba(44, 49, 58, 0.95),
    rgba(40, 44, 52, 0.9)
  );
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2),
    0px 0px 3.5rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

.content {
  position: relative;
  z-index: 100;
}

.photo img {
  width: 10rem;
  transition: all 0.5s ease-out;
}

.photo {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-container {
  height: 70%;
  width: 45%;
  position: absolute;
}

.circle1 {
  position: relative;
  width: 10rem;
  height: 10rem;
  background: linear-gradient(
    to right,
    rgba(0, 255, 204, 0.3),
    rgba(255, 102, 102, 0.3)
  );
  position: absolute;
  border-radius: 50%;
  top: 1%;
}

.circle2 {
  position: relative;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(
    to right,
    rgba(0, 255, 204, 0.3),
    rgba(255, 102, 102, 0.3)
  );
  position: absolute;
  border-radius: 50%;
}

.circle3 {
  position: relative;
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(0, 255, 204, 0.3),
    rgba(255, 102, 102, 0.3)
  );
  position: absolute;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}

.info h1 {
  font-size: 3rem;
  transition: all 0.5s ease-out;
  color: #e5e5e5;
}

.info h3 {
  font-size: 1.5rem;
  padding: 1rem 0rem;
  color: rgb(214, 214, 214);
  font-weight: lighter;
  transition: all 0.5s ease-out;
}

.degrees {
  font-size: 1.2rem;
  padding: 1rem 0rem;
  color: #a4ffed;
  font-weight: lighter;
  transition: all 0.5s ease-out;
}

.text {
  font-size: 1.1rem;
  padding: 1rem 0rem;
  color: white;
  font-weight: lighter;
  transition: all 0.5s ease-out;
  text-align: justify;
}

.socials {
  display: flex;
  padding: 1rem 0rem;
  justify-content: space-between;
  transition: all 0.5s ease-out;
}

.socials .button {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  color: #585858;
  background: rgb(255, 102, 102);
  border: none;
  cursor: pointer;
}

.socials .button:hover {
  background: rgb(255, 84, 84);
}

svg {
  fill: #282c34;
}

.contact {
  margin-top: 2rem;
  display: grid;
}

.contact .button {
  width: 100%;
  padding: 1rem 0rem;
  background: #00ffcc;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 2rem;
  font-weight: bolder;
  font-size: 1rem;
  transition: all 0.5s ease-out;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contact .button:hover {
  background: #00a181;
}
